<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AndroidServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.androidServer.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initServlet</display-name>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>com.androidServer.servlet.initServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initServlet</servlet-name>
    <url-pattern>/initServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.androidServer.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imageServlet</display-name>
    <servlet-name>imageServlet</servlet-name>
    <servlet-class>com.androidServer.servlet.imageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getImage</display-name>
    <servlet-name>getImage</servlet-name>
    <servlet-class>com.androidServer.servlet.getImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getImage</servlet-name>
    <url-pattern>/getImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendImage</display-name>
    <servlet-name>sendImage</servlet-name>
    <servlet-class>com.androidServer.servlet.sendImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendImage</servlet-name>
    <url-pattern>/sendImage</url-pattern>
  </servlet-mapping>
</web-app>